
.main {
    height: auto;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 5px 2px 5px 2px #26343f;
}

.active {
    background-color: #26ADB6;
}


img {
    width: 100%;    
}

.box {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.box1 {
    width: 40%;
    box-shadow: 5px 2px 5px 2px #26ADB6;
}

.box2 {
    width: 40%;
    box-shadow: 5px 2px 5px 2px #26ADB6;
}

.box3 {
    width: 40%;
    box-shadow: 5px 2px 5px 2px #26ADB6;
    margin-top: 2rem;
}

.box1 .p1 {
  font-weight: 800;
}

.box2 .p1 {
    font-weight: 800;
  }

.box3 .p1 {
    font-weight: 800;
  }


nav {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 3rem;
    align-items: center;
    background-color: #D5D8DC;
}

nav a {
    text-decoration: none;
    color: #26343f;
}

nav a:hover {
    text-decoration: none;
    color: #ecf0f4;
    background-color: #26ADB6;
} 

nav li {
    list-style: none;
}


.Carousel {
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.inner {
    white-space: nowrap;
    transition: transform 0.3s;
    box-shadow: 0 5px 15px rbga(0,0,0,0.05);
}

.Carousel-Item {
    display: inline;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
}

.Carousel-img {
    height: 375px;
    width: 100%;    
}

.Carousel-button {
    display: flex;
    justify-content: space-evenly;
}

.button-arrow {
    background: none;
    border: none;
    cursor: pointer;
}
.indicators {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.indicators-button {
    border: none;
    cursor: pointer;
}

.indicators > button {
    background: none;
}

.indicator-symbol {
    color: #26343f;
}

.indicator-symbols-active {
    color: blue;
}

.content {
    margin-top: 2rem;
    display: flex   ;
    text-align: center;
}

.headline {
    width: 75%;
    float: left;
    box-shadow: 2px 5px 4px #6fb1bb;
    display: flex;
    flex-direction: column;
}

.marquee {
    float: right;
    width: 20%;
    margin-left: 1.5rem;
    box-shadow: 2px 5px 4px #6fb1bb;
}

.m1 {
    background-color: #888888;
    color: #FFFFFF;
}

h2 {
    color: #26ADB6;
    font-size: 2em;
}
.b1 {
    height: 250px;
    width: 250px;
}

.b2 {
    height: 250px;
    width: 250px;
}
h3 {
    color: #26ADB6;
    font-size: 2em;
}

p {
    font-size: 0.9em;
}


.marquee {
    text-align: center;
}
.marquee p {
    color: #26ADB6;
}

h4 {
    background-color: #26ADB6;
    color: white;
}

.pictures  img {
    height: 220px;
    width: 220px;
    box-shadow: 5px 10px 8px #888888;
}

.pictures {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.Footer {
    display: flex;
    flex-direction: column;
    background-color: #26ADB6;
    height: 270px;
    width: 100%;
    box-shadow: 0 5px 15px rbga(0,0,0,0.05);
}

.Footer h4 {
    color: #FFFFFF;
}

.Footer h3 {
    color: #FFFFFF;
}

/* For small screens */
@media only screen and (max-width: 600px) {
    .main {
        width: 100%;
    }

    .Carousel-img {
        height: 175px;
        width: 100%;  
        margin-top: 0.5rem;  
    }

    .content {
        width: 100%;
    }

    .headline {
        width: 100%;
    }

    .marquee {
        display: none;
    }

    .pictures {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 2rem;
    }

    .pictures img {
        width: 80%; /* Adjust as needed */
        height: auto;
    }

    .nav {
        flex-direction: column;
        align-items: center;
    } 

    nav li {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .pictures  img {
        height: 60px;
        width: 60px;
        box-shadow: 5px 10px 8px #888888;
    }
    /* Add more responsive styles as needed */
}

/* For medium screens */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .main {
        width: 70%;
    }

    /* Add more responsive styles as needed */
}

/* For large screens */
@media only screen and (min-width: 1025px) {
    .main {
        width: 80%; /* Reset to original width */
    }

    /* Add more responsive styles as needed */
}
